
<div class="comment-top">
    <h4>bir yorum yapın</h4>
    <div class="comment-bottom">
        <form action="/Comment/PartialAddComment/" method="post">
            <input class="form-control" type="text" name="CommentUserName" placeholder="Adınız Soyadınız" required="">
            <input class="form-control" type="text" name="ComentTitle" placeholder="Konu" required="">

            

            <textarea class="form-control" name="ComentContent" placeholder="yorumunuz.." required=""></textarea>
            <button type="submit" class="btn btn-primary submit">Yorum yap</button>
        </form>
    </div>
</div>

