
@{
    ViewData["Title"] = "Test";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Test</h1>
<h3>burası kendi oluşturduğumuz View sayfası</h3>
<table>
    <tr>
        <th>ID</th>
        <th>ad</th>
        <th>departman</th>
    </tr>
    <tr>

        <td>1</td>
        <td>hakan</td>
        <td>yazılım departmanı</td>


    </tr>
    <td>2</td>
    <td>ayse</td>
    <td>analist</td>
</table>

